build/kws/all_validation_KWS_data.npz filter=lfs diff=lfs merge=lfs -text
build/kws/MLP_W3A3_scale_init-0.1_no_per_channel_scaling_at_output_usigned_non-narrow_relu_act_FINN.onnx filter=lfs diff=lfs merge=lfs -text
